<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ly.simuwang.com/apps/PaiPaiWang.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.google.com.hk/url?sa=i&amp;rct=j&amp;q=&amp;esrc=s&amp;source=images&amp;cd=&amp;cad=rja&amp;uact=8&amp;ved=2ahUKEwim2ImsqZziAhUQQLwKHSovDQAQjRx6BAgBEAU&amp;url=http%3A%2F%2Fwww.bbc.co.uk%2Fnewsbeat%2Farticle%2F39489727%2Fnew-facebook-rocket-icon-links-to-complementary-second-news-feed&amp;psig=AOvVaw2qMSC2MBWcm2jWj0gN6yjj&amp;ust=1557968033290094</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.google.com.hk/url?sa=i&amp;rct=j&amp;q=&amp;esrc=s&amp;source=images&amp;cd=&amp;cad=rja&amp;uact=8&amp;ved=2ahUKEwim2ImsqZziAhUQQLwKHSovDQAQjRx6BAgBEAU&amp;url=http%3A%2F%2Fwww.bbc.co.uk%2Fnewsbeat%2Farticle%2F39489727%2Fnew-facebook-rocket-icon-links-to-complementary-second-news-feed&amp;psig=AOvVaw2qMSC2MBWcm2jWj0gN6yjj&amp;ust=1557968033290094</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.app508.PrivatePPNetwork</string>
				<key>bundle-version</key>
				<string>6.1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>PaiPaiWang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
